.dashboard-body {
    height: 1000px;
    /*background-color: #fff;*/
    margin: 70px;
}

.greetings {
    padding-top: 30px;
    margin-bottom: 50px;
}

.greetings-1 {
    display: inline;
    padding-right: 20px;
}

.greetings-2 {
    display: inline;
}
