body {
    margin: 0;
    background-color: #F5F6F7;
    font-family: Roboto, sans-serif;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .4px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F6F7;
    padding: 10px 50px;
}

.logo img {
    width: 100px;
}

.nav-right {
    list-style: none;
    display: flex;
}

.nav-right li {
    width: 85px;
    text-align: center;
}

.nav-right a {
    display: block;
    color: #232A2B;
    text-decoration: none;
}
.nav-right a:hover{
    color: #6C54FF;
}

.nav-right .active {
    color: #6C54FF;
    font-weight: bold;
}

.nav-icon {
    display: none; /* Standardmäßig ausblenden */
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-right {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .navbar {
        padding: 10px 20px;
    }
}

.menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #F5F6F7;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out; /* Füge Fade-In-/Fade-Out-Effekt hinzu */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Füge Schatten auf der linken Seite hinzu */
    opacity: 0; /* Standardmäßig transparent */
    pointer-events: none; /* Verhindere Beeinflussung anderer Interaktionen */
}

.menu.open {
    display: block;
    opacity: 1; /* Vollständig sichtbar machen */
    pointer-events: auto; /* Aktiviere Interaktionen */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Füge oberen Abstand hinzu, um Abstand zur Navbar zu schaffen */
}

.menu li {
    margin-bottom: 0px; /* Einige Abstände zwischen den Links */
    text-align: left; /* Text linksbündig ausrichten */
    margin-left: 10px;
}

.menu a {
    display: block;
    color: #232A2B;
    text-decoration: none;
    padding: 10px; /* Füge etwas Polsterung hinzu, um die Klickbarkeit zu verbessern */
}

/* Stil für ausgewählte Elemente im Popup-Menü */
.menu .active {
    color: #6C54FF;
    font-weight: bold;
}

.menu a:hover{
    color: #6C54FF;
}

.menu button {
    display: block;
    margin-left: 10px;  /* Links ausrichten */
    margin-top: 10px;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

@media (min-width: 769px) {
    .menu {
        display: none !important; /* Mit !important sicherstellen, dass dieser Stil die höchste Priorität hat */
    }
}
