.popup-container {
    width: 940px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F6F7;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: auto;
}

.titel {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #5C6D72;
}

.data {
    display: inline;
}

.category-title {
    font-size: 16px;
    color: #7D8A8E;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Erlaubt Karten automatisches Umbruchverhalten */
    gap: 20px; /* Steuert den Abstand zwischen den Karten */
}
