.progress-titel {
    margin-bottom: 10px;
    display: flex; /* Flexbox-Layout aktivieren */
    justify-content: space-between; /* Platzierung der Unterelemente an den Enden des Containers */
    align-items: center; /* Vertikale Ausrichtung der Unterelemente in der Mitte */
}

.progress-edit {
    font-size: 15px;
    color: #6C54FF;
}

.progress-body {
    display: flex;
    justify-content: left; /* Links ausrichten */
    align-items: center;
    overflow-x: auto; /* Horizontales Scrollen ermöglichen */
    white-space: nowrap; /* Zeilenumbruch im Container verhindern */
}

.progress-box-1 {
    display: flex; /* Als Flexbox-Container festlegen */
    flex: 0 0 auto; /* Dies stellt sicher, dass das Element seine Größe beibehält und nicht gestreckt wird */
    flex-direction: column; /* Unterelemente vertikal stapeln */
    justify-content: center; /* Horizontal zentrierte Ausrichtung */
    align-items: center;
    background-color: #edeff0;
    width: 250px;
    height: 180px;
    margin-right: 20px;
    border-radius: 25px;
    transition: box-shadow 0.3s;
}

.progress-box-1:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.progress-graphic {
    width: 100%;
    padding-top: 10px;
    height: 20%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center; /* Auf der Hauptachse zentriert ausrichten */
    align-items: center;
    color: #5C6D72;
}

.progress-graphic-bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-circular {
    width: 85px;
    height: 85px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.progress-text {
    color: #5C6D72;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    white-space: normal; /* Zeilenumbruch erlauben */
}

.progress-value {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
