.flex-container {
    display: flex; /* Verwende Flexbox */
    /*justify-content: ; !* Lasse Platz zwischen den beiden Elementen *!*/
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; /* Wenn die Bildschirmbreite kleiner oder gleich 768px ist, werden die Elemente vertikal angeordnet */
        align-items: center; /* Optional: Zentrierte Ausrichtung */
    }
}

.widget-box-1 {
    display: flex; /* Als Flexbox-Container festlegen */
    flex: 0 0 auto; /* Dies stellt sicher, dass das Element seine Größe beibehält und nicht gestreckt wird */
    flex-direction: column; /* Unterelemente vertikal stapeln */
    justify-content: center; /* Horizontal zentrierte Ausrichtung */
    align-items: center;
    background-color: #edeff0;
    width: 520px;
    height: 370px;
    margin-right: 20px;
    border-radius: 25px;
    transition: box-shadow 0.3s;
}

.widget-box-1:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.widget-box-1 .inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px; /* 为内容添加左侧内边距，确保内容不会紧贴边框 */
}


.todo-count {
    align-self: flex-start;
    text-align: left;
    font-size: 40px;
    color: #ED6C36;
    margin: 25px 0 10px 50px;
    font-weight: bold;
}

.tag-box {
    margin: 0 10px;
    padding: 2px 8px;
    background-color: #FC532D;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    display: inline-block; /* 确保tag-box作为内联元素 */
}
.tag-box.wichtig {
    background-color: #FC532D;
}

.tag-box.default {
    background-color: #6C54FF;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid grey;
    padding: 12px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ED6C36;
    border-radius: 50%;
    font-weight: bold;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: #ED6C36;
}

.todo-detail {
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 5px;
}

.todo-item label.todo-left {
    display: flex;
    align-items: center;
    cursor: pointer; /* 使其看起来可以点击 */
}

/* 隐藏原始复选框 */
.todo-item input[type="checkbox"] {
    display: none;
}

/* 使用伪元素为复选框创建圆形边界 */
.todo-item input[type="checkbox"] + span::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #929DA1;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}

/* 选中时的颜色 */
.todo-item input[type="checkbox"]:checked + span::before {
    background-color: #ED6C36;
    border-color: #FEB09E;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* To ensure it's below the popup */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #F5F6F7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 400px;
    border-radius: 15px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}